.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
}
.nav_right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav_right li {
    display: inline-block;
}

.nav_right a {
    display: inline-block;
    padding: 10px 20px; /* Padding for the button effect */
    background-color: #15616D;
    color: white; /* White text color */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.nav_right a:hover {
    background-color: #b4500A; /*#FF6F61  Secondary color for hover effect */
}

.mobileMenuButton {
  display: none;
  color: #15616D;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.navList {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 20px;
    list-style-type: none;
}

.dropdownMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50;
    background-color: #fff;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    list-style-type: none;
    padding: 10px 0;
    z-index: 10;
}

.nav_list li:hover .dropdownMenu {
    display: block;
}
.dropdownMenu li {
    padding: 10px 20px;
}

.dropdownMenu li a {
    color: #333;
    text-decoration: none;
    background-color: #d4edeb;
}

.dropdownMenu li:hover {
    background-color: #f1f1f1;
}

/* Media Queries */
@media (max-width: 768px) {
    .navList {
        display: none;
    }
    .navListMobile {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 8px;
    z-index: 1000;
    }

  .mobileMenuButton {
    display: block;
  }
   .dropdownMenu {
        display: none;
        position: static;
        box-shadow: none;
        background-color: #15616D;
    }

    .dropdownMenu li {
        padding: 10px;
    }

    .dropdownMenu li a {
        color: #fff;
    }
}