.authContainer {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.authHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}

.title {
  margin: 0;
}

.button {
  padding: 10px;
  background-color: #15616D;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggleButton {
  font-size: 16px;
}

.toggleButton:hover {
  color: #114E57; /* Darker shade of primary color */
}

.authContainer h2 {
  text-align: center;
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 20px;
}

.formGroup label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.formGroup input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formOptions {
  display: flex;
  margin-bottom: 20px;
}

.formOptions label {
  display: flex;
  align-items: center;
}

.formOptions input {
  margin-right: 5px;
}

.forgotPassword {
  color: #15616D; /* Primary color */
  text-decoration: none;
  font-size: 14px;
}

.forgotPassword:hover {
  text-decoration: underline;
}

.submitButton {
  width: 100%;
  padding: 10px;
  background-color: #15616d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #114E57
}

.submitButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.divider {
  text-align: center;
  margin: 20px 0;
}

.googleButton {
  width: 100%;
  padding: 10px 35px;
  background-color: #15616d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.googleButton:hover {
  background-color: #357ae8; /* Darker Google Blue */
}
.google {
  display: flex;
  align-items: center;
}

.google svg {
  flex-shrink: 0;
  height: 24px;
  width: 24px;
}
.gButtonContainer {
  flex-shrink: 1;
}
.small-prints {
  font-size: 12px;
  color: #666;
  line-height: 1.5;
  margin-top: 10px;
}
.small-prints a {
  transition: color 0.3s ease;
}
.small-prints a:hover {
  color: #114E57;;
}

@media (max-width: 768px) {
  .authContainer {
    padding: 20px;
    margin: 100px 20px 60px;
  }

  .formOptions label,
  .formOptions .forgotPassword {
    margin-bottom: 10px;
  }

  .authHeader {
    align-items: flex-start;
  }

  .authHeader .title {
    margin-bottom: 10px;
  }

  .authHeader .toggleButton {
    align-self: flex-end;
  }
}