.howItWorksSection {
  padding: 50px 20px;
  text-align: center;
  background-color: #ffffff; /* White background for the section */
}

.title {
  font-size: 36px;
  color: #15616d; /* Primary color */
  margin-bottom: 40px;
}

.stepsContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.stepCard {
  background-color: #F5F5F5; /* Light gray background for cards */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease;
}

.stepCard:hover {
  transform: translateY(-10px);
}

.icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.stepTitle {
  font-size: 24px;
  color: #15616d;
  margin-bottom: 10px;
}

.stepDescription {
  font-size: 16px;
  color: #333333; /* Dark gray text color */
}