.hero {
  padding: 100px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Ensure text color contrasts well with the background image */
  text-align: center;
}

.heroContent {
  max-width: 800px;
}

.headline {
  font-size: 36px;
  color: #15616D;
  margin-bottom: 20px;
}

.subheadline {
  font-size: 24px;
  color: #333333; /* Dark gray text color */
  margin-bottom: 40px;
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: stretch;
  position:relative;
  width: 100%;
  margin: 0 auto;
}

.searchInput {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #15616d;
  border-radius: 5px 0 0 5px;
  flex: 1;
}

.searchButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #15616D;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: #FF6F61; /* Secondary color */
}

.searchList {
  position: absolute;
  top: calc(100% + 5px);
  width: 100%;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-top: 5px;
  text-align: left;
  z-index: 59;
}

.searchList li {
  margin: 0;
  padding: 5px;
  border-bottom: 1px solid #eee;
  color: #333;
  list-style: none;
}

.searchList p:last-child {
  border-bottom: none;
}